<template>
    <div>
        <h1>Bienvenido</h1>
        <p>Nuestro Balance Personal</p>
        <button class="goMain" @click="buttonGOMain">Entrar</button>
    </div>
</template>


<script>
export default {
    name: 'HomePage',

    data() {
        return {}
    },

    methods: {
        buttonGOMain() {
            this.$router.push('/main')
        },
    },
}
</script>

<style scoped>
</style>