<template>
    <div>
        <h1>Mi Saldo actual es:</h1>
        <h1>{{balance}}</h1>
        <button class="goIncome" @click="GoIncomeButton">Ingresos</button>
        <button class="goExpenses" @click="GoExpensesButton">Gastos</button>
        <button class="goMovements" @click="GoMovementsButton">Movimientos</button>
        <button class="exitMain" @click="GoExitMainButton">Salir</button>
    </div>
</template>

<script>
export default {
    name: 'MainPage',

    data() {
        return {
            urlGetBalance: '/api/notes/get_balance/',
            balance: '',
        }
    },

    mounted: function() {
        this.loadbalance()
    },

    methods: {
        async loadbalance() {
            const result = await await await fetch(this.urlGetBalance)
            const resultJson = await await result.json()
            this.balance = resultJson.total
        },

        GoIncomeButton() {
            this.$router.push('/income')
        },

        GoExpensesButton() {
            this.$router.push('/expenses')
        },

        GoMovementsButton() {
            this.$router.push('/movements')
        },

        GoExitMainButton() {
            this.$router.push('/home')
        },
    },
}
</script>

<style scoped>
</style>