<template>
    <div id="income-page">
        <h1>Nuevo Ingreso</h1>

        <IncomeComponent
            :categories="categories"
            @upload-new-income="uploadNewIncome"
            @button-exit-income="exitIncome"
        />
    </div>
</template>

<script>
import IncomeComponent from './IncomeComponent.vue'
import { v4 as uuidv4 } from 'uuid'

export default {
    name: 'IncomePage',
    components: {
        IncomeComponent,
    },
    props: {},
    data() {
        return {
            urlAddIncome: '/api/notes/',
            categories: ['INGRESOS PASIVOS', 'INGRESOS ACTIVOS'],
        }
    },

    methods: {
        async uploadNewIncome(income) {
            await await await fetch(this.urlAddIncome, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: uuidv4(),
                    type: 'income',
                    amount: income.amount,
                    date: income.date,
                    category: income.category,
                    description: income.description,
                }),
            }).then(response => response.json())
        },

        exitIncome() {
            this.$router.push('/main')
        },
    },
}
</script>

<style scoped>
#product-details {
    display: flex;
    justify-content: space-around;
}
</style>
