<template>
    <div id="form-income">
        <h1>Indique la cantidad</h1>
        <input
            type="number"
            min="1"
            pattern="^[0-9]+"
            class="amount"
            v-model="income.amount"
            placeholder="Añade cantidad"
        />
        <h1>Fecha</h1>
        <input type="date" class="date" v-model="income.date" placeholder="Añade fecha" />
        <h1>Categoría</h1>
        <select v-model="income.category" class="category-input">
            <option disabled value="null">Seleccione un elemento</option>
            <option v-for="(category, index) in categories" v-bind:key="index">
                <h1>{{ category }}</h1>
            </option>
        </select>
        <h1>Descripción</h1>
        <input
            type="text"
            class="description"
            v-model="income.description"
            placeholder="Introduce Descripción"
        />

        <p>
            <button class="addIncome" @click="uploadNewIncome">Añadir</button>
        </p>

        <p>
            <button class="exitIncome" @click="buttonExitIncome">Salir</button>
        </p>
    </div>
</template>

<script>
export default {
    name: 'IncomeComponent',
    components: {},
    props: {
        categories: {
            propType: Array,
        },
    },
    data() {
        return {
            income: {
                amount: null,
                date: null,
                category: null,
                description: '',
                //date_create: new Date().toLocaleString(),
            },
        }
    },

    methods: {
        async uploadNewIncome() {
            {
                await this.$emit('upload-new-income', this.income)
            }
            this.buttonExitIncome()
        },

        buttonExitIncome() {
            this.$emit('button-exit-income')
        },
    },
}
</script>

<style scoped>
#form-income {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
}
</style>