<template>
    <div id="app">
        <MovementsDetails
        
        
            :movementDetail="movementDetail"

             :categoriesI="categoriesI"
             :categoriesE="categoriesE"
            @edit-details-movement-event="editMovementDetails"
            @delete-details-movement-event="deleteMovementDetails"
            @back-details-movement-event="buttonBackDetails"
        />
    </div>
</template>

<script>
import MovementsDetails from '@/components/Details/MovementsDetails.vue'

export default {
    name: 'MovementsDetailsPage',
    components: {
        MovementsDetails,
    },

    data() {
        return {
            baseURL: 'http://localhost:8080/api/notes',
            movementIdSelect: '',
            completeURL: '',
            movementDetail: {},
            list: false,
            state: '',
            action: 'editar',
            screenState: 'contactListState',

            categoriesI: ['INGRESOS PASIVOS', 'INGRESOS ACTIVOS'],
            categoriesE:[ 'COMIDA',
                'ENTRETENIMIENTO',
                'ROPA',
                'SALUD',
                'SUMINISTROS',
                'TRANSPORTE',
                'VIVIENDA',],
        }
    },
    mounted: function() {
        this.movementIdSelect= this.$route.params.movementId
        this.loadMovementsList()
    },

    methods: {
        /*editar boton*/
        async editMovementDetails(movementDetail) {
            this.completeURL = this.baseURL + '/' + movementDetail.id
            await this.editFromListView(movementDetail)
            await this.loadMovementsList()
            this.$router.push('/movements')
        },

        async editFromListView(movementDetail) {
            await fetch(this.completeURL, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(movementDetail),
            }).then(response => response.json())
        },

        /*salir boton*/
        exitEbuttonBackDetailspenses() {
            /*this.$router.push('/movements')*/
        },

        /*eliminar */

        


        async deleteMovementDetails(id) {
            this.movementIdSelect = id
            this.completeURL = this.baseURL + '/' + this.movementIdSelect
            await this.deleteFromList()
            this.$router.push('/movements')
            /*await this.loadMovementsList()*/
            /*this.screenState = "contactListState";*/
        },
        async deleteFromList() {
            await fetch(this.completeURL, {
                method: 'DELETE',
            }).then(response => response.json())
        },

        /*see ver movimiento */

        async seeMovement() {
            this.completeURL = this.baseURL + '/' + this.movementIdSelect
            await this.generateMovementData()
        },

        async generateMovementData() {
            const result = await fetch(this.completeURL)
            this.movementDetail = await result.json()

            /* return await result.json()*/
        },

        async loadMovementsList() {
            this.list = true
            this.movementDetail = await this.seeMovement() 
        },
    },
}
</script>
