<template>
    <div id="MovementsDetails">
        <div class="inputsBox">
            <!--<p>
                TIPO
                <input
                    type="text"
                    class="type"
                    v-model="localMovementDetail.type"
                />
            </p>-->

            <p>
                CANTIDAD
                <input
                    type="number"
                    min="1"
                    pattern="^[0-9]+"
                    class="amount"
                    v-model="localMovementDetail.amount"
                />
            </p>

            <P>
                FECHA
                <input
                    type="date"
                    class="date"
                    v-model="localMovementDetail.date"
                />
            </P>
            <p>
                CATEGORÍA
                <select
                    v-if="localMovementDetail.type === 'income'"
                    v-model="localMovementDetail.category"
                    class="category-input"
                >
                    <option
                        v-for="(category, index) in categoriesI"
                        v-bind:key="index"
                        ><h1>{{ category }}</h1></option
                    >
                </select>

                <select
                    v-if="localMovementDetail.type === 'expenses'"
                    v-model="localMovementDetail.category"
                    class="category-input"
                >
                    <option
                        v-for="(category, index) in categoriesE"
                        v-bind:key="index"
                        ><h1>{{ category }}</h1></option
                    >
                </select>
            </p>

            <p>
                DESCRIPCIÓN
                <input
                    type="text"
                    class="description"
                    v-model="localMovementDetail.description"
                />
            </p>
        </div>
        <div class="buttonsBox">
            <button @click="editClickDetails" class="btn-edit"  id="btn-edit">Guardar</button>
            <button @click="deleteDetails" class="btn-delete" id="btn-delete">Eliminar</button>
            <button class="btn-back-view" @click="backClickDetails">Atras</button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'MovementsDetails',
    components: {},
    props: {
        movementDetail: { objecttype: Object, required: true },
        /* movementId : { objecttype: Object, required: true },*/
        categoriesI: { propType: Array },
        categoriesE: { propType: Array },
    },

    data() {
        return {
            localMovementDetail: {
                id: null,
                amount: null,
                type: null,
                date: null,
                description: null,
                category: null,
            },
        }
    },

    watch: {
        movementDetail: {
            //Objeto a usar
            immediate: true,
            handler: function(movementDetail) {
                this.localMovementDetail = JSON.parse(
                    JSON.stringify(movementDetail)
                )
            },
        },
    },

    methods: {
        editClickDetails() {
            this.$emit('edit-details-movement-event', this.localMovementDetail)
        },

        backClickDetails() {
            this.$router.push('/movements')
        },

        deleteDetails() {
            this.$emit('delete-details-movement-event',this.localMovementDetail.id

            )
        },
    },
}
</script>

<style scoped></style>