<template>
    <div id="app">
        <router-link to="/home">Home</router-link>| |
        <router-link to="/main">Pagina Principal</router-link>| |
        <router-link to="/income">Pagina Ingresos</router-link>| |
        <router-link to="/expenses">Pagina Gastos</router-link>| |
        <router-link to="/movements">Movimientos</router-link>| |
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: 'App',
    components: {},
    data() {
        return {
            screenState: 'contactListScreen',
            /*listOfMovement: {},*/
            listOfMovement: [],
        }
    },

    mounted: function() {
        this.onLoadingPage()
    },

    methods: {
        botonGOMain() {
            this.$router.push('/main')
        },

        onLoadingPage() {
            this.screenState = 'contactListScreen'
            this.$router.push('/home')
        },
    },
}
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>

