<template>
    <div id="expenses-page">
        <h1>Nuevo gasto</h1>

        <ExpensesComponent
            :categories="categories"
            @upload-new-expenses="uploadNewExpenses"
            @button-exit-expenses="exitExpenses"
        />
    </div>
</template>

<script>
import ExpensesComponent from './ExpensesComponent.vue'
import { v4 as uuidv4 } from 'uuid'

export default {
    name: 'ExpensesPage',
    components: {
        ExpensesComponent,
    },
    props: {},
    data() {
        return {
            urlAddExpenses: '/api/notes/',
            categories: [
                'COMIDA',
                'ENTRETENIMIENTO',
                'ROPA',
                'SALUD',
                'SUMINISTROS',
                'TRANSPORTE',
                'VIVIENDA',
            ],
        }
    },

    methods: {
        async uploadNewExpenses(expenses) {
            await await await fetch(this.urlAddExpenses, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: uuidv4(),
                    type: 'expenses',
                    amount: expenses.amount,
                    date: expenses.date,
                    category: expenses.category,
                    description: expenses.description,
                }),
            }).then(response => response.json())
        },

        exitExpenses() {
            this.$router.push('/main')
        },
    },
}
</script>

<style scoped>
#product-details {
    display: flex;
    justify-content: space-around;
}
</style>
