<template>
    <div id="form-expenses">
        <h1>Ingrese cantidad</h1>
        <input
            type="number"
            min="1"
            pattern="^[0-9]+"
            class="amount"
            v-model="expenses.amount"
            placeholder="Añade cantidad"
        />
        <h1>Indique la Fecha</h1>
        <input type="date" class="date" v-model="expenses.date" placeholder="Añade fecha" />
        <h1>Categoría</h1>
        <select v-model="expenses.category" class="category-input">
            <option disabled value="null">Seleccione un elemento</option>
            <option v-for="(category, index) in categories" v-bind:key="index">
                <h1>{{ category }}</h1>
            </option>
        </select>
        <h1>Descripción</h1>
        <input
            type="text"
            class="description"
            v-model="expenses.description"
            placeholder="Introduce Description"
        />
        <p>
            <button class="addExpenses" @click="uploadNewExpenses">Añadir</button>
        </p>

        <p>
            <button class="exitExpenses" @click="buttonExitExpenses">Salir</button>
        </p>
    </div>
</template>

<script>
export default {
    name: 'ExpensesComponent',
    components: {},
    props: {
        categories: {
            propType: Array,
        },
    },
    data() {
        return {
            expenses: {
                type: 'expenses',
                amount: null,
                date: null,
                category: null,
                description: '',
                //date_create: new Date().toLocaleString(),
            },
        }
    },

    methods: {
        uploadNewExpenses() {
            {
                this.$emit('upload-new-expenses', this.expenses)
            }
            this.buttonExitExpenses()
        },

        buttonExitExpenses() {
            this.$emit('button-exit-expenses')
        },
    },
}
</script>

<style scoped>
#form-expenses {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
}
</style>