<template>
    <div class="movements-item">
        <div class="name-div">
            <a @click="seeMovement" class="full-name">{{ fullMovement }}</a>
            <a @click="editMovement" id="edit">
                <img src="@/assets/edit.png" alt />
            </a>
            <a @click="deleteMovement" id="delete">
                <img src="@/assets/delete.png" alt />
            </a>
        </div>
    </div>
</template>

<script>
/* componente MovementsItem */
export default {
    name: 'MovementsItem',
    props: {
        movement: {
            /*type: Object,*/
            propType: Object,
            required: true,
        },
    },

    methods: {
        /*emitMethod(methodType) {
            this.$emit(methodType, this.product.id)
        },*/
        deleteMovement() {
            this.$emit('delete-movement-event', this.movement.id)
        },
        seeMovement() {
            this.$router.push('/details/' + this.movement.id)
        },
        editMovement() {

            this.$router.push('/details/' + this.movement.id)
            /*this.$emit('edit-movement-event', this.movement.id)*/
        },
    },
    computed: {
        fullMovement: function() {
            return `${this.movement.type} ${this.movement.category} ${this.movement.description} ${this.movement.date}`
        },
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only 
"ámbito "atributo para limitar CSS a este componente solamente /  -->
<style scoped>
h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a {
    /* color: #ffffff; */
    cursor: pointer;
    margin-right: 2rem;
    text-align: left;
}
img {
    width: 30px;
}
.contact-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.full-name {
    text-align: left;
    float: left;
}
.buttons {
    text-align: right;
    float: right;
}
</style>
