<template>
    <div class="movements-list-page">
        <h1>LISTA DE MOVIMIENTOS</h1>
        <div v-if="listOfMovement.length === 0">
            <h3>Lista de movimientos vacía.</h3>
        </div>
        <div class="search-to-from">
            <SearchDateComponent
                class="movements-search-to-from"
                :date="date"
                @button-search-event="buttonSearch"
                @button-refresh-event="buttonRefresh"
            />
        </div>

        <div class="movements-item-list">
            <MovementsList
                class="movements-list"
                :listOfMovement="listOfMovement"
               
                @edit-movement-event="editMovement"
                @delete-movement-event="deleteMovement"
            />
        </div>
    </div>
</template>

<script>
import MovementsList from './MovementsList.vue'
import SearchDateComponent from './SearchDateComponent.vue'

export default {
    name: 'MovementsListPage',
    components: {
        MovementsList,
        SearchDateComponent,
    },

    props: {
        /*listOfMovement: { type: Array, required: true },*/
    },

    data() {
        return {
            baseURL: 'http://localhost:8080/api/notes',
            completeURL: '',
            url: '/api/notes' /*consulta todos los movimientos*/,
            urlSearchDate: '/api/notes/bydate' /*consulta entre fechas*/,
            listOfMovement: [],
            list: false,
            /*movement: {},*/
            movementId: 0,
            searchdate: '',

            

           
        }
    },

    mounted: function() {
        this.loadMovementsList()
    },
    methods: {
        /*carga de lista*/
        async loadMovementsList() {
            this.list = true
            this.listOfMovement = await this.generateMovementsListData()
        },
        async generateMovementsListData() {
            const result = await fetch(this.baseURL)
            return await result.json()
        },

        /*Buscar por fecha*/

        async apiSearchMovements(from, to) {
            const result = await fetch(
                this.urlSearchDate + '?from=' + from + '&to=' + to
            )
            return await result.json()
        },

        async buttonSearch(from, to) {
            this.listOfMovement = await this.apiSearchMovements(from, to)
        },

        async buttonRefresh() {
            this.listOfMovement = await this.generateMovementsListData()
          
        },

         

        

        /*eliminar de lista*/

        async deleteMovement(id) {
            this.movementId = id
            this.completeURL = this.baseURL + '/' + this.movementId
            await this.deleteFromList()
            await this.loadMovementsList()
            /*this.screenState = "contactListState";*/
        },
        async deleteFromList() {
            await fetch(this.completeURL, {
                method: 'DELETE',
            }).then(response => response.json())
        },

        

        /*funciones de los botones*/
        /*seeMovement(receivedId) {
            this.$emit('seeMovement', receivedId)
        },*/
        editMovement(receivedId) {
            this.$emit('editMovement', receivedId)
        },
        /*deleteMovement(receivedId) {
            this.$emit('deleteMovement', receivedId)
        },*/
        /*newContact() {
            this.$emit('newContact')
        },*/
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>

