<template>
    <div class="movements-list">
        <div v-for="(movement, index) in listOfMovement" :key="index" class="movements-item-vfor">
            <MovementsItem
                class="movements-item"
                :movement="movement"
                :index="index"
                @delete-movement-event="deleteMovement"
                @see-movement-event="seeMovement"
                @edit-movement-event="editMovement"
            />
        </div>
    </div>
</template>

<script>
import MovementsItem from './MovementsItem.vue'

export default {
    name: 'MovementsList',
    components: {
        MovementsItem,
    },

    props: {
        listOfMovement: { type: Array, required: true },
    },

    data() {
        return {}
    },

    methods: {
        /*funciones de los botones*/
        deleteMovement(receivedId) {
            this.$emit('delete-movement-event', receivedId)
        },

        seeMovement(receivedId) {
            this.$emit('see-movement-event', receivedId)
        },

        editMovement(receivedId) {
            this.$emit('edit-movement-event', receivedId)
        },
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
