<template>
    <div class="search-date">
        <div class="date-to-from">
            <h1>Indique la Fecha Inicial</h1>
            <input
                type="date"
                class="date-from"
                v-model="date.from"
                placeholder="Indique la fecha inicial"
            />

            <h1>Indique la Fecha Final</h1>
            <input
                type="date"
                class="date-to"
                v-model="date.to"
                placeholder="Indique la fecha inicial"
            />
        </div>
        <p>
            <button class="button-search" @click="buttonSearch">Buscar</button>
        </p>
        <p>
            <button class="button-refresh" @click="buttonRefresh">Volver a ver todo</button>
        </p>

        <p>
            <button class="button-back" @click="buttonBack">Atrás</button>
        </p>
    </div>
</template>

<script>
export default {
    name: 'SearchDateComponent',

    

    data() {
        return {

            date: {
                from: '',
                to: '',
            },
            
        }
    },

    methods: {
        /*funciones de los botones*/

        buttonSearch() {
            this.$emit('button-search-event', this.date.from, this.date.to)
        },

        buttonRefresh() {
            this.$emit('button-refresh-event')
             this.refresh()
        },

        refresh() {
            this.date.from= null
            this.date.to= null
        },
        buttonBack() {
            this.$router.push('/main')
        },
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
